.child {
  background-color: aqua;
  height: 100px;
  width: 100px;
  border-width: 4px;
  border-color: black;
  border-style: solid;
  margin-top: 12px;
  margin-left: 12px;
}

.heading {
  text-align: center;
}

.parent {
  height: 200px;
  display: flex;
}
.child1 {
  height: 200px;
  width: 50%;
}
.child2 {
  height: 200px;
  width: 50%;
}

.landing_image {
  height: 150px;
  width: 80%;
}

.card {
  height: 200px;
  width: 180px;
  background-color: aqua;
  border-color: lightgray;
  border-width: 1px;
  border-style: solid;
  border-radius: 7px;
}

.card_image {
  border-radius: 7px;
  height: 140px;
  width: 180px;
}

.card_heading {
  padding: 0px;
  margin: 0px;
}
.card_desc {
  padding: 0px;
  margin: 0px;
}
